<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cocktail -->
      <package
            uri="platform:/plugin/tdt4250.project.model/model/cocktail.ecore"
            class="tdt4250.project.model.cocktail.CocktailPackage"
            genModel="model/cocktail.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated cocktail -->
      <parser
            type="cocktail"
            class="tdt4250.project.model.cocktail.util.CocktailResourceFactoryImpl"/>
   </extension>

</plugin>
